:host {
  height: 100%;
  display: grid;

  grid-template:
    'title-bar title-bar' auto
    'main-menu main' 1fr
    / 300px 1fr;
}

.title-bar {
  grid-area: title-bar;
}

.main-menu {
  grid-area: main-menu;
}

main {
  grid-area: main;
}
