@import '../../../styles/overckd.variables.scss';

$app-main-menu--background-color: transparent;
$app-main-menu--color: white;
$app-main-menu--padding: 0.6em;

:host {
  display: block;
  overflow: auto;

  padding: $app-main-menu--padding;
  background-color: $app-main-menu--background-color;
  color: $app-main-menu--color;

  .mat-mdc-list-base {
    --mdc-list-list-item-container-shape: 0.5rem;
    --mdc-list-list-item-label-text-color: #{$app-main-menu--color};
    --mdc-list-list-item-hover-label-text-color: #{$app-main-menu--color};
    --mdc-list-list-item-focus-label-text-color: #{$app-main-menu--color};
  }
}
