<ckad-main-menu class="flex-grow-0 flex-shrink-0">
  <mat-nav-list>
    <a
      mat-list-item
      [routerLink]="'./home'"
      [class]="this.itemClass"
      [routerLinkActive]="this.itemActiveClass"
    >
      <ckad-main-menu-item [icon]="this.faHome"> overckd </ckad-main-menu-item>
    </a>
  </mat-nav-list>

  <ckad-main-menu-group [groupName]="'Recipes'" [icon]="this.faUtensils">
    <mat-nav-list>
      <a
        mat-list-item
        [class]="this.itemClass"
        [routerLink]="['./recipes', 'list']"
        [routerLinkActive]="this.itemActiveClass"
      >
        <ckad-main-menu-item [icon]="this.faWallet"> All </ckad-main-menu-item>
      </a>

      <a
        mat-list-item
        [class]="this.itemClass"
        [routerLink]="['./recipes', 'empty']"
        [routerLinkActive]="this.itemActiveClass"
      >
        <ckad-main-menu-item [icon]="this.faFileContract">
          Print template
        </ckad-main-menu-item>
      </a>

      <a
        mat-list-item
        [class]="this.itemClass"
        [routerLink]="['./recipes', 'add']"
        [routerLinkActive]="this.itemActiveClass"
      >
        <ckad-main-menu-item [icon]="this.iconAdd">
          Add recipe
        </ckad-main-menu-item>
      </a>
    </mat-nav-list>
  </ckad-main-menu-group>

  <overckd-collections-main-menu-group></overckd-collections-main-menu-group>
</ckad-main-menu>
