:host {
  font-size: 1rem;

  .portion-converter {
    $hspacing: 0.25rem;

    &__label {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    &__input {
      margin-left: $hspacing;
    }

    &__additional-label {
      margin-left: $hspacing;
    }
  }
}
