// Variables for the module: ui-desktop

// ====================================================
// window-title-bar
// ====================================================
$ui-desktop-window-title-bar--color: rgb(241, 241, 241) !default;
$ui-desktop-window-title-bar--background-color: rgb(34, 34, 34) !default;
$ui-desktop-window-title-bar--border-bottom-color: rgb(110, 110, 110) !default;
$ui-desktop-window-title-bar--border-bottom: 1px solid
  $ui-desktop-window-title-bar--border-bottom-color !default;

$ui-desktop-window-title-bar--height: 24px !default; //maybe even smaller, e.g. 22 or 20
// inset styling
$ui-desktop-window-title-bar--inset--height: 36px !default;
