// Fonts
$font-heading1: 'Snell Roundhand';
$font-heading2: 'Copperplate';
$font-regular: 'Gill Sans';

// Colors
$color-emphasis-1: #862a28;
$color-emphasis-2: #40556e;

$color-main: #a244bc;
$color-green: #00aa20;
//
$primary: $color-main;
$success: $color-green;
