<ckad-main-menu-group [groupName]="'Collections'" [icon]="this.faListAlt">
  <mat-nav-list *ngIf="this.collections$ | async as collections">
    <a
      *ngFor="let collection of collections"
      mat-list-item
      [class]="this.itemClass"
      [routerLink]="['./collections/', 'collection', collection.id]"
      [routerLinkActive]="this.itemActiveClass"
    >
      <ckad-main-menu-item>
        {{ collection.name }}
      </ckad-main-menu-item>
    </a>
  </mat-nav-list>
</ckad-main-menu-group>
