@import '../../../styles/overckd.variables.scss';

$app-main-menu--background-color: transparent;
$app-main-menu--padding: 0.5rem;

:host {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;

  padding: $app-main-menu--padding;
  background-color: $app-main-menu--background-color;
}
