@import '../../../styles/overckd.variables.scss';

$app-main-menu--background-color: transparent;
$app-main-menu--color: white;
$app-main-menu--padding: 0.6em;

:host {
  display: block;
  overflow: scroll;

  padding: $app-main-menu--padding;
  background-color: $app-main-menu--background-color;
  color: $app-main-menu--color;
}
