:host {
  break-after: page;
  @apply flex flex-col gap-8;

  @media print {
    height: 135vh;
    max-height: 135vh;
  }

  .subtitle {
    &--v2 {
      text-align: center;
      font-weight: 300;
    }
  }

  img {
    border-radius: 0.75rem;
  }
}

h3 {
  font-size: xxx-large;
  font-weight: 400;
}
