@import './main-menu.variables.scss';

:host {
  background: $ckad-main-menu--background-color;
  width: $ckad-main-menu--width;
  height: 100%;

  > nav {
    display: flex;
    flex-direction: column;
  }
}
