@import './ui-base.module';

// ====================================================
// resetting and initial values
// ====================================================
html,
body {
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

body {
  margin: 0;
}

// ====================================================
// Customizing
// ====================================================
body {
  background-color: $ui-body--background-color;
}
