<mat-form-field class="example-chip-list w-100">
  <mat-label>Search or add ingredients</mat-label>
  <input
    matInput
    placeholder="Add ingredients"
    #searchInput
    [formControl]="inputCtrl"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)"
  />
  <!-- <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selected($event)"
  >
    <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
      {{ tag.label }}
    </mat-option>
  </mat-autocomplete> -->
</mat-form-field>

<mat-chip-grid #chipList aria-label="Ingredient tags">
  @for (selectedTag of selectedTags$ | async; track selectedTag) {
  <mat-chip-option
    selected
    [selectable]="selectable()"
    [removable]="removable()"
    (removed)="removeTag(selectedTag)"
  >
    {{ selectedTag.label }}

    @if (removable()) {
    <fa-icon matChipRemove icon="times" />
    }
  </mat-chip-option>
  } @for (tag of filteredTags$ | async; track tag) {
  <mat-chip-option selectable (click)="addTag(tag)">
    {{ tag.label }}
  </mat-chip-option>
  }
</mat-chip-grid>
