@import '../../../../../../styles/variables';

:host {
  display: block;
  margin-bottom: 1.5rem;

  > .label {
    &--v1 {
      margin-bottom: 0.75rem;
      text-align: center;
      font-family: $font-heading2;
    }

    &--v2 {
      font-family: $font-heading1;
    }
  }
}
