// Number of columns per grid
$ckad-grid-cols: 12 !default;
// Spacing between grid columns and rows
$ckad-grid-gap: 0.25rem !default;
// Fractions for specifying the size of a grid cell
$ckad-grid-fractions: [2, 3, 4, 5, 6, 7, 8] !default;
